version: '3.8'

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: inventory_user
      POSTGRES_PASSWORD: Miradmak123
      POSTGRES_DB: inventory
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network

  app:
    build: .
    ports:
      - "8080:8080"
    volumes:
      - ./app:/app
    environment:
      - DATABASE_URL=postgresql+psycopg2://postgres:1@localhost:5432/inventory
    depends_on:
      - db
    networks:
      - app-network

networks:
  app-network:

volumes:
  pgdata:
